#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        small_kakko {
            bindings = <&kp LS(N8)>;
            key-positions = <1 2>;
        };

        small_kakko2 {
            bindings = <&kp LS(N9)>;
            key-positions = <2 3>;
        };

        nami_1 {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <11 12>;
        };

        nami_2 {
            bindings = <&kp BACKSLASH>;
            key-positions = <12 13>;
        };

        kaku_1 {
            bindings = <&kp LS(RIGHT_BRACKET)>;
            key-positions = <23 24>;
        };

        kaku_2 {
            bindings = <&kp LS(BACKSLASH)>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E             &kp R                   &kp T                                                   &kp Y                 &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D             &kp F                   &kp G        &msc MOVE_Y(-5)           &lt 6 MINUS      &kp H                 &kp J  &kp K      &kp L    &kp LEFT_BRACKET
&kp Z             &kp X         &kp C             &kp V                   &kp B        &lt 1 LANG1               &kp EQUAL        &kp N                 &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LEFT_COMMAND  &kp LEFT_ALT  &kp LEFT_CONTROL  &lt_to_layer_0 4 LANG2  &lt 2 SPACE  &lt_to_layer_0 5 TAB      &lt 3 BACKSPACE  &mt LEFT_SHIFT ENTER                             &kp LEFT_SHIFT
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
        };

        FUNCTION {
            bindings = <
&kp ESCAPE  &trans        &trans         &kp LS(LG(LC(NUMBER_4)))  &kp INT3                          &trans  &kp F9  &kp F10  &kp F11  &kp F12
&trans      &trans        &kp LS(N8)     &kp LS(N9)                &kp SLASH     &trans      &trans  &trans  &kp F5  &kp F6   &kp F7   &kp F8
&trans      &trans        &kp SEMICOLON  &kp SQT                   &kp LS(INT1)  &trans      &trans  &trans  &kp F1  &kp F2   &kp F3   &kp F4
&kp LCTRL   &kp LEFT_WIN  &kp LEFT_ALT   &trans                    &trans        &trans      &trans  &trans                            &kp LEFT_SHIFT
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        NUM {
            bindings = <
&kp EQUAL        &kp KP_NUMBER_7  &kp LG(Y)             &kp LG(Z)          &kp LG(B)                                  &kp KP_EQUAL  &kp N7        &kp N8        &kp N9        &kp KP_PLUS
&kp PERIOD       &kp LG(X)        &kp LG(V)             &kp LG(C)          &kp LG(A)  &kp DELETE      &kp KP_NUMLOCK  &kp KP_DOT    &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp KP_MINUS
&kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp LC(SINGLE_QUOTE)  &kp LC(SEMICOLON)  &kp LG(S)  &kp DELETE      &trans          &kp N0        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_ASTERISK
&trans           &trans           &trans                &trans             &trans     &trans          &trans          &trans                                                  &kp KP_SLASH
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))         &kp UP_ARROW            &kp LC(TAB)              &trans                      &trans  &kp EXCLAMATION  &kp LS(NUMBER_2)  &kp HASH    &kp DOLLAR
&trans          &kp LEFT_ARROW          &kp DOWN_ARROW          &kp RIGHT_ARROW          &trans  &trans      &trans  &trans  &kp PERCENT      &kp LS(NUMBER_6)  &kp LS(N7)  &kp NON_US_BACKSLASH
&kp LEFT_SHIFT  &kp LA(LC(LEFT_ARROW))  &kp LC(LA(UP_ARROW))    &kp LA(LC(RIGHT_ARROW))  &trans  &trans      &trans  &trans  &kp PIPE         &trans            &trans      &trans
&trans          &trans                  &kp LA(LC(DOWN_ARROW))  &trans                   &trans  &trans      &trans  &trans                                                 &kp LEFT_SHIFT
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans    &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &mkp MB4  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &mkp MB5  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                  &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
